{% extends 'base.html.twig' %}

{% block title %}Tarea: {{task.title}}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-2"></div>

    <div class="col-12 col-sm-8">
        <h1 class="text-center text-primary pt-3">Detalles de la tarea</h1>
    </div>

    <div class="col-sm-2"></div>
</div>
<div class="row">
    <div class="col-2 col-sm-1 col-md-3 col-lg-3 col-xl-3"></div>
    <div class="col-10 col-sm-8 col-md-6 col-lg-6 col-xl-6 pt-3">        
        <div class="card text-center">
            <div class="card-header">
                {{task.user.name}} {{task.user.surname}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{task.title}}</h5>
                <p class="card-text">{{task.content}}</p>
                    {% if task.priority=='High' %}
                        <p class="text-danger">Prioridad: {{'Alta'}}</p>
                    {% elseif task.priority=='Medium'%}
                        <p class="text-warning">Prioridad: {{'Media'}}</p>
                    {% else %}
                        <p class="text-info">Prioridad: {{'Baja'}}</p>
                    {% endif %}
                <p>    
                    Estimado en horas: {{task.hours}}
                </p>
            </div>
            <div class="card-footer text-muted">
                Publicada el: {{ task.createdAt|date('d/m/Y h:m') }}
            </div>
        </div>
    </div>

    <div class="col-2 col-sm-1 col-md-3 col-lg-3 col-xl-3"></div>
</div>
{% endblock %}