{% if tasks|length >0 %}
    <table class="table table-striped table-dark">
        <thead>
        <tr class="text-center">
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">Tarea</th>
            <th scope="col" class="text-center">Prioridad</th>
            <th scope="col" class="text-center">Horas</th>
            <th scope="col" class="text-center">Acciones</th>
        </tr>
        </thead>
        <tbody>
        
        {% for task in tasks %}
            <tr>
            <td class="text-center">{{task.id}}</td>
            <td class="text-center">{{task.title}}</td>
            <td class="text-center">
                {% if task.priority=='High' %}
                    {{'Alta'}}
                {% elseif task.priority=='Medium'%}
                    {{'Media'}}
                {% else %}
                    {{'Baja'}}
                {% endif %}
            </td>
            <td class="text-center">{{task.hours}}</td>
            <td class="text-center">
                <a href="{{ path('task_detail',{'id':task.id}) }}" class="btn btn-info">Ver</a>
                
                {% if app.user != null and task.user.id == app.user.id %}
                <a href="{{ path('task_edit',{'id':task.id}) }}" class="btn btn-warning">Editar</a>
                    <a href="{{ path('task_delete',{'id':task.id}) }}" class="btn btn-danger">Eliminar</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        

        </tbody>
    </table>
{% else %}
<div class="alert alert-warning" role="alert">
   No tienes tareas disponible.
  </div>
{% endif %}